<section>
    <!-- Landing  -->
    <div class="conteneur landing" id="accueil">

        <div class="text">
            <h1>
                Rafle la mise<br>
                avec ton club<br>
                de Coeur !
            </h1>
        </div>
        <div class="illustration">
            <img src="assets/img/Soccer_Outline.svg" />

        </div>
    </div>
    <!-- Fin landing  -->

    <!-- Football  -->
    <div class="conteneur_football" id="football">
        <div class="conteneur football">
            <h4>
                FootBall
            </h4>
            <div class="conteneur conteneur_club">
                <div class="item_club">
                    <img src="assets/img/manu.svg.png" />
                    <p>Manchester U.</p>
                </div>
                <div class="item_club">
                    <img src="assets/img/milan.svg.png" />
                    <p>Milan AC.</p>
                </div>
                <div class="item_club">
                    <img src="assets/img/psg.svg.png" />
                    <p>Paris SG.</p>
                </div>
                <div class="item_club">
                    <img src="assets/img/om.svg.png" />
                    <p>OM</p>
                </div>
            </div>
            <h2 class="annee">
                2021
            </h2>
            <table>
                <th align="left">
                    Pseudo
                </th>
                <th align="left">
                    Club
                </th>
                <th align="left">
                    Mise
                </th>
                <th align="left">
                    Situation
                </th>
                <tr>
                    <td>Ernesto</td>
                    <td class="td_club"> <img src="assets/img/milan.svg.png" /> Milan Ac.</td>
                    <td>20€</td>
                    <td>Qualifié</td>
                </tr>
                <tr class="tr_shadow">
                    <td>Gwadikéra</td>
                    <td class="td_club"> <img src="assets/img/om.svg.png" /> Olympique de Marseille</td>
                    <td>20€</td>
                    <td>Pas qualifié</td>
                </tr>
                <tr>
                    <td>La Coyoterie</td>
                    <td class="td_club"> <img src="assets/img/psg.svg.png" />PSG</td>
                    <td>20€</td>
                    <td>Qualifié</td>
                </tr>
                <tr class="tr_shadow">
                    <td>Siger</td>
                    <td class="td_club"> <img src="assets/img/manu.svg.png" /> Manchester U.</td>
                    <td>20€</td>
                    <td>Qualifié</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="gain">Gain total : </span><span class="total">{{80|currency:'EUR':true}}</span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <!-- Fin football  -->

    <!-- BasketBall  -->
    <div class="conteneur_basketball" id="basketball">
        <div class="conteneur basketball">
            <h4>
                BasketBall
            </h4>
            <div class="conteneur conteneur_club">
                <div class="item_club">
                    <img src="assets/img/warriors.png" />
                    <p>Warriors de Golden State
                    </p>
                </div>
                <div class="item_club">
                    <img src="assets/img/76.png" />
                    <p>76ers de Philadelphie
                    </p>
                </div>
                <div class="item_club">
                    <img src="assets/img/lakers.svg.png" />
                    <p>Los Angeles Lakers</p>
                </div>
            </div>
            <h2 class="annee">
                2021
            </h2>
            <table>
                <th align="left">
                    Pseudo
                </th>
                <th align="left">
                    Club
                </th>
                <th align="left">
                    Mise
                </th>
                <th align="left">
                    Situation
                </th>
                <tr>
                    <td>Ernesto</td>
                    <td class="td_club"> <img src="assets/img/lakers.svg.png" /> LA. Lakers</td>
                    <td>20€</td>
                    <td>Qualifié</td>
                </tr>
                <tr class="tr_shadow">
                    <td>Gwadikéra</td>
                    <td class="td_club"> <img src="assets/img/76.png" /> Warriors de Golden State</td>
                    <td>20€</td>
                    <td>Qualifié</td>
                </tr>
                <tr>
                    <td>La Coyoterie</td>
                    <td class="td_club"> --</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr class="tr_shadow">
                    <td>Siger</td>
                    <td class="td_club"> <img src="assets/img/76.png" /> 76ers de Philadelphie</td>
                    <td>20€</td>
                    <td>Qualifié</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="gain">Gain total : </span><span class="total">{{60|currency:'EUR':true}}</span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <!-- Fin BasketBall -->
    <!-- Partenaires  -->
    <div class="conteneur_partenaires">
        <div class="conteneur partenaires">
            <h4>
                Nos Partenaires
            </h4>
            <div class="conteneur conteneur_partenaires">
                <img src="assets/img/Pay.svg.png" />
                <img src="assets/img/Lydia.png" />
            </div>
        </div>
    </div>
    <!-- Fin partenaires  -->
</section>