<header>
  <div class="conteneur">
    <h1>
      LJ2M
    </h1>
    <ul>
      <li>
        <a [routerLink]="['main']" fragment="accueuil">
          Accueil
        </a>
      </li>
      <li>
        <a [routerLink]="['main']" fragment="football">
          FootBall
        </a>
      </li>
      <li>
        <a [routerLink]="['main']" fragment="basketball">
          BasketBall
        </a>
      </li>
      <li>

      </li>
      <li>

      </li>
      <li>
        <a>
          Gain total : <span class="total">{{140|currency:'EUR':true}}</span>
        </a>
      </li>
    </ul>

  </div>
</header>

<div class="outlet">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="conteneur">
    <p>
      LJ2M
    </p>
    <div class="mentions ">
      <span class="mentions_legales_modal" data-toggle="modal" data-target="#myModal">
        Mentions légales
      </span>
      <span class="politique">
        Politique de confidentialité
      </span>
    </div>

  </div>
</footer>