@import '../styles.scss';

header {
    background: green;
    height: 100px;
    width: 100%;

    .conteneur {
        width: 90vw;
        height: 100%;      
        margin: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: "Arvo";
            font-weight: 400;
                    
            max-width: 480px;
            font-size: 2.4rem;
            line-height: 28px;
            color: white;

            text-shadow: 1px 1px 2px #000;
        }

        ul {
            list-style: none;
            display: none;

            li {
                margin-right: 25px;
                display: flex;
                align-items: center;

                a {
                    font-family: "arvo";
                    font-weight: 400;

                    color: yellowgreen;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.4rem;
                }

                .total {
                    color: orange;
                    font-size: 1.7rem;
                    font-weight: 700;
                    margin-left: 8px;
                }
            }
        }
    }
}

.outlet {
    height: 100%;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 70px;
    color: white;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;


    font-family: "Arvo";
    font-size: 1.4em;
    font-weight: 600;

    .conteneur {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: 100%;
    }

    p {
        margin-left: 15px;
        text-shadow: 1px 1px 2px #000;
    }

    .mentions {
        span {      
            font-size: 1rem !important;
            font-weight: 200 !important;
            margin-left: 30px;
        }
    }
}

@media screen and (min-width: 426px) {
    header {
        ul {
            display: flex !important;
        }
    }

    .span_footer_mobile {
        display: none !important;
    }


}
